header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.coin-display .coin-badge-amount{
    color: var(--color-text-dark);
    font-size: 1rem;
}

.coin-display {
    padding: 0.75rem 0.875rem;
    border-radius: 8px;
    background-color: var(--color-bg-accent);
}

.profile-button {
    background-color: transparent;
    border: none;
}

.profile-img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
